@font-face {
     font-family: "IdentityFont";
     src: url("IdentityFont-main/font/LTAIdentity\ Medium.ttf");
   }
body, html {
  font-family: 'IdentityFont', sans-serif;

  background-color:rgb(255, 255, 255);
}
.image-layer-container img {
  position: absolute;
}

.header{
 
  display: flex;
  justify-content: space-between;
 position: relative;
  font-weight: bold;
  color: rgb(235, 158, 44);
  z-index: 10;  
  text-shadow: rgb(0, 0, 0) 0 0 5px;
}

.fullscreen {
  all: unset;
  color: rgb(235, 158, 44);
  text-decoration: none;
  font-weight: bold;

}

.owl
 {
   z-index: 3;
  display: block;
  justify-content: center;
  overflow: hidden;

}


.owlText {
display: flex;
}



.wave
{
z-index: 2;
}

.tundra
{
  
   overflow: hidden;
 position: absolute;
 z-index: 1;
}
.hamburger
{
  margin-top:50%; 
}
  
.tab {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #7c7c7c;
  overflow: hidden;
}

/* Hide hamburger on large screens */
.tab-header {
  display: none;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.tablinks {
 
  color: rgb(255, 255, 255);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;

}

.hamburger {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
}



.tablinks:hover {
  background-color: #575757;
}

.tabcontent {
  color: white;
  display: none;

}

#About {background-color: rgb(255, 186, 95);}
#Life {background-color: rgb(231, 168, 84);}
#Hunting {background-color: rgb(209, 151, 74);}
#Conservation {background-color: rgb(197, 140, 66);}
#Game {background-color: rgb(197, 140, 66);}

/*About*/

.Introduction {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Introduction p {
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-flex {
  display: flex;
  align-items: stretch;
  
 
}


.WhereFrom {
   background-color: rgb(173, 125, 63);
   border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

 .owl2 /*About*/ {
            border-radius: 20px;
        }


.funfacts {
  display: flex;
  justify-content: center;
  align-items: stretch;
  
}

.funfact1,
.funfact2,
.funfact3 {
  perspective: 1000px;
  border-radius: 20px;
  position: relative;
}

/* This container is needed to position the front and back side */
.funfact1-inner,
.funfact2-inner,
.funfact3-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.funfact1:hover .funfact1-inner, 
.funfact2:hover .funfact2-inner,
.funfact3:hover .funfact3-inner {
  transform: rotateY(180deg);
}



/* Position the front and back side */
.funfact1-front, .funfact1-back,
.funfact2-front, .funfact2-back,
.funfact3-front, .funfact3-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.funfact1-front, .funfact2-front, .funfact3-front   {
  background-color: #bbb;
  justify-content: center;
  color: black;
  border-radius: 20px;
}

/* Style the back side */
.funfact1-back,.funfact2-back, .funfact3-back {
  background-color: rgb(173, 125, 63);
  transform: rotateY(180deg);
  border-radius: 20px;
}

.funfact1-image, .funfact2-image, .funfact3-image
{
  border-radius: 20px;
  object-fit: cover;
}

.funfacts p{
  font-size: 130%;
  text-align: center;
  color: white;
}

.quiz-container
{
   background-color: rgb(173, 125, 63);
    border-radius: 20px;

    
}
/*Life in the Arctic*/
.ArcticLife {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.ArcticLife p {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Seasons, .Territory{
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.seasons-territory {
  display: flex;
  align-items: stretch;

}

.Exposure {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Exposure p {
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



.owl-slides-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-slides {
  display: none;

  margin: 0 auto;
  justify-content: center;
  align-items: center;
  z-index: 3;
}



/*Hunting and Behaviour*/
.Precision {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Precision p {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Tactical, .Diet{
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Tactical-Diet {
  display: flex;
  align-items: stretch;

}

.Intelligence {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Intelligence p {
    display: flex;
    justify-content: center;
    align-items: center;

}


/*Conservation & Curiosities*/
.Ecosystem {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Ecosystem p {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Climate, .Human{
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Climate-Human {
  display: flex;
  align-items: stretch;

}

.Borders {
    background-color: rgb(173, 125, 63);
    border-radius: 20px;
}


.Borders p {
    display: flex;
    justify-content: center;
    align-items: center;

}




@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



    @keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes slideFadeIn {
        from {
            opacity: 0;
            transform: translateY(100px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }}




    .footer {
 
    background-color: #222;
    text-align: center;
     padding:1% 0;
       width: 100vw;

}

    .footerAbout {
  color: #fff;
 
  text-align: center;

}

.footer-links li {
  display: inline-block;
  margin: 0 1%;
}

.qr-code
{
  width: 10%;
  height: 10%;
  border-radius: 10px;
}

.footer-links a,
.footer-links h3,
.footer-social a,
.footer-social h3  {
  color: #fff;
  text-decoration: none;
}


    /* ---------- Responsive Design: MONITOR -------------------------------------------------------------------- */
    @media (min-width: 1281px) {

        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .image-layer-container img {
            top: 0;
            left: 0;
        }

        .header {
            font-size: 200%;
            padding: 1%;
        }

        
        .owl {
            width: auto;
            max-width: 70%;
             height: auto;
            max-height: 95%;
            margin-left: 55%;
            margin-top: 5%;
            animation: slideFadeIn 1.2s ease-out;
        }

        .owlText p {

 z-index: 5;
 font-family: 200%;
 margin-left: 60%;
 margin-top: 15%;
}

          .owl2 /*About*/ {
            padding-top: 1%;
            width: 60%;
            max-width: 60%;
            height: auto;
        }

        .wave {
            width: 100%;
           
            height: auto;
            max-height: 60%;
            margin-top: 15%;
        }

        .tundra {
            width: 100%;
            height: 80%;
            max-width: 100%;
            max-height: 80%;
        }

        .tab {
            margin-top: 70%;
            width: 100vw;
            
        }

        .tablinks {
            padding: 1% 1%;
            font-size: 120%;
            width: 20%;
        }

        .tabcontent {
            padding: 1% 1%;
            height: auto;
        }


        /*Introduction*/
.Introduction {
    
    padding: 1% 0%;
}

.Introduction p {
    width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;
}

.Introduction h1 {
    font-size: 300%;
    width: 20%;
    height: 50%;
    padding: 0% 2%;
}


.about-flex {
  gap: 2%; 
  
}

.WhereFrom {
  width: 60%; 
  margin-top: 1%;
}

.WhereFrom h1
{
    font-size: 300%;
    width: 20%;
    height: 50%;
    padding: 0% 2%;
}

.WhereFrom p {
    width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
  margin-bottom: 20%;
    font-size: 150%;
    padding: 0% 2%;
}



.funfacts {
  gap: 2vw; /* or 20px */
}

.funfact1,
.funfact2,
.funfact3 {
  width: 30%;
  min-height: 250px; 
  padding: 2% 1%;
}

/* This container is needed to position the front and back side */
.funfact1-inner,
.funfact2-inner,
.funfact3-inner {
  width: 100%;
  height: 100%;

}





/* Position the front and back side */
.funfact1-front, .funfact1-back,
.funfact2-front, .funfact2-back,
.funfact3-front, .funfact3-back {
  width: 100%;
  height: 100%;
}



.funfact1-image, .funfact2-image, .funfact3-image
{
  width: 100%;
  height: 100%;
}

.funfacts p{
  padding: 7% 2%;
}

.quiz-container
{
   padding: 1% 1%;
    margin: 1% 1%;
    
}

.quiz fieldset {
  margin-bottom: 20px;
  padding: 15px;

}

/*-----------------------------------------------------------------Life in the Arctic*/
.ArcticLife {
   padding: 1% 0%;
}


.ArcticLife p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.ArcticLife h1 {
    font-size: 300%;
    width: 30%;
    height: 50%;
    padding: 0% 2%;
}

.seasons-territory
{
  gap: 4vw; /* or 20px */
  padding: 2% 1%;
  height: 100%;

}

.Seasons, .Territory{
    
     font-size: 150%;
    padding: 1% 2%;
    
}

.Exposure {
   padding: 1% 0%;
}

.Exposure p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Exposure h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}


.owl-slides img {
 width: 70%;
 height: 70%;
 border-radius: 20px;
 
};

.owl-slides-container
{
   width: 100%;
  height: 100%;

}

.owl-slides {
  padding: 1% 0;
  max-width: 1000px;
}






/*-----------------------------------------------------------------Hunting and Behaviour*/
.Precision {
   padding: 1% 0%;
}


.Precision p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Precision h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}

.Tactical-Diet
{
  gap: 4vw; /* or 20px */
  padding: 0% 1%;
  height: 100%;

}

.Tactical, .Diet{
    
     font-size: 150%;
    padding: 1% 2%;
    
}

.Intelligence {
   padding: 1% 0%;
   margin: 2% 0;
}

.Intelligence p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Intelligence h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}


.video-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;

 
}


/*-----------------------------------------------------------------Conservation & Curiosities*/
.Ecosystem {
   padding: 1% 0%;
}


.Ecosystem p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Ecosystem h1 {
    font-size: 300%;
    width: 50%;
    height: 50%;
    padding: 0% 2%;
}

.Climate-Human
{
  gap: 4vw; /* or 20px */
  padding: 0% 1%;
  height: 100%;

}

.Climate, .Human{
    
     font-size: 150%;
    padding: 1% 2%;
    
}

.Borders {
   padding: 1% 0%;
   margin: 2% 0;
}

.Borders p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Borders h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}



#Game { position: relative; }

.game-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border: 2px solid #88c;
  overflow: hidden;
}

#lemming {
  width: 30%;
  height: 30%;
  background: brown;
  border-radius: 100%;
  position: absolute;
  display: none;
  cursor: pointer;
}




    }

    
    /* ---------- Responsive Design: Mobile ---------- */
    @media (max-width: 800px) {

         body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .image-layer-container img {
            top: 0;
            left: 0;
        }

        .header {
            font-size: 200%;
            padding: 1%;
        }

        
        .owl {
            width: 45%;
            max-width: 50%;
             height: 60%;
            max-height: 75%;
            margin-left: 55%;
            margin-top: 15%;
            animation: slideFadeIn 1.2s ease-out;
        }

        .owlText p {

 z-index: 5;
 font-family: 200%;
 margin-left: 60%;
 margin-top: 25%;
}

          .owl2 /*About*/ {
            padding-top: 1%;
            width: 60%;
            max-width: 60%;
            height: auto;
        }

        .wave {
            width: 100%;
           
            height: auto;
            max-height: 60%;
            margin-top: 15%;
        }

        .tundra {
            width: 100%;
            height: 70%;
            max-width: 100%;
            max-height: 80%;
        }
 .tab-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f7b35a;
    
  }
  .tablinks{
     font-size: 200%;
  }

  /* Hide tabs by default on mobile */
  .tab {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: #f7b35a;
    padding: 10px 0;
   
  }

  .hamburger
  {
    background: none;
  border: none;
  outline: none;
  box-shadow: none;
 font-size: 200%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  
  }
  /* Reveal with 'show' class */
  .tab.show {
    display: flex;
  }
  
        .tabcontent {
            padding: 1% 1%;
            margin-top: 30%;
            height: auto;
            
        }


        /*Introduction*/
.Introduction {
    
    padding: 1% 0%;
}

.Introduction p {
    width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;
}

.Introduction h1 {
    font-size: 300%;
    width: 20%;
    height: 50%;
    padding: 0% 2%;
}


.about-flex {
  gap: 2%; 
  
}

.WhereFrom {
  width: 60%; 
  margin-top: 1%;
}

.WhereFrom h1
{
    font-size: 300%;
    width: 20%;
    height: 50%;
    padding: 0% 2%;
}

.WhereFrom p {
    width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
  margin-bottom: 20%;
    font-size: 150%;
    padding: 0% 2%;
}



.funfacts {
  gap: 2vw; /* or 20px */
}

.funfact1,
.funfact2,
.funfact3 {
  width: 30%;
  min-height: 250px; 
  padding: 2% 1%;
}

/* This container is needed to position the front and back side */
.funfact1-inner,
.funfact2-inner,
.funfact3-inner {
  width: 100%;
  height: 100%;

}





/* Position the front and back side */
.funfact1-front, .funfact1-back,
.funfact2-front, .funfact2-back,
.funfact3-front, .funfact3-back {
  width: 100%;
  height: 100%;
}



.funfact1-image, .funfact2-image, .funfact3-image
{
  width: 100%;
  height: 100%;
}

.funfacts p{
  padding: 7% 2%;
}

.quiz-container
{
   padding: 1% 1%;
    margin: 1% 1%;
    
}

.quiz fieldset {
  margin-bottom: 20px;
  padding: 15px;

}

/*-----------------------------------------------------------------Life in the Arctic*/
.ArcticLife {
   padding: 1% 0%;
}


.ArcticLife p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.ArcticLife h1 {
    font-size: 300%;
    width: 30%;
    height: 50%;
    padding: 0% 2%;
}

.seasons-territory
{
  gap: 4vw; /* or 20px */
  padding: 2% 1%;
  height: 100%;

}

.Seasons, .Territory{
    
     font-size: 150%;
    padding: 1% 2%;
    
}

.Exposure {
   padding: 1% 0%;
}

.Exposure p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Exposure h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}


.owl-slides img {
 width: 70%;
 height: 70%;
 border-radius: 20px;
 
};

.owl-slides-container
{
   width: 100%;
  height: 100%;

}

.owl-slides {
  padding: 1% 0;
  max-width: 1000px;
}






/*-----------------------------------------------------------------Hunting and Behaviour*/
.Precision {
   padding: 1% 0%;
}


.Precision p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Precision h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}

.Tactical-Diet
{
  gap: 4vw; /* or 20px */
  padding: 0% 1%;
  height: 100%;

}

.Tactical, .Diet{
    
     font-size: 150%;
    padding: 1% 2%;
    
}

.Intelligence {
   padding: 1% 0%;
   margin: 2% 0;
}

.Intelligence p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Intelligence h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}


.video-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;

 
}


/*-----------------------------------------------------------------Conservation & Curiosities*/
.Ecosystem {
   padding: 1% 0%;
}


.Ecosystem p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Ecosystem h1 {
    font-size: 300%;
    width: 50%;
    height: 50%;
    padding: 0% 2%;
}

.Climate-Human
{
  gap: 4vw; /* or 20px */
  padding: 0% 1%;
  height: 100%;

}

.Climate, .Human{
    
     font-size: 150%;
    padding: 1% 2%;
    
}

.Borders {
   padding: 1% 0%;
   margin: 2% 0;
}

.Borders p {
   width: 95%;
    max-width: 95%;
    height: 100%;
    max-height: 100%;
    font-size: 150%;
    padding: 0% 2%;

}
.Borders h1 {
    font-size: 300%;
    width: 40%;
    height: 50%;
    padding: 0% 2%;
}



#Game { position: relative; }

.game-container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border: 2px solid #88c;
  overflow: hidden;
}

#lemming {
  width: 30%;
  height: 30%;
  background: brown;
  border-radius: 100%;
  position: absolute;
  display: none;
  cursor: pointer;
}


    }

    

    

    
